@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The PlayDateApp</h1>
    <p>Register or login to an existing account to get started connecting with other parents and scheduling playdates!</p>
    
</div>
