@model PlayDate_App.Models.Parent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Profile</h1>

<hr />

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="IdentityUserId" />
            <input type="hidden" asp-for="Lat" />
            <input type="hidden" asp-for="Lng" />
            <input type="hidden" asp-for="ThumbsUp" />
            <input type ="hidden" asp-for="ParentId" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpouseName" class="control-label">Spouse Name</label>
                <input asp-for="SpouseName" class="form-control" />
                <span asp-validation-for="SpouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationZip" class="control-label">Zip Code</label>
                <input type="number" step="1" asp-for="LocationZip" class="form-control" pattern="\d{5}" maxlength="5" style="width: 100px" />
                <span asp-validation-for="LocationZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label">Family Photo</label>
                <input asp-for="ImagePath" class="form-control" placeholder="Image URL" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="EmailAddress" class="form-control" value="@User.Identity.Name" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AddKid" asp-route-id="@Model.ParentId">Add Kid</a> |
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
